.container
	position: fixed
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	display: flex
	display: -webkit-flex
	justify-content: center
	align-items: center



.card
	width: 400px
	height: 400px
	background: none
	display: flex
	justify-content: center
	align-items: center
	text-align: center
	-webkit-perspective: 1000
	border-style: solid
	border-color: red

a
	font-size: 3em
	padding: 10px
	text-decoration: none
	color: limegreen
	text-align: left
	cursor: none

.robot
	padding-top: 20em
	display: block
	margin-left: auto
	margin-right: auto
	position: fixed
	width: 1000px
	z-index: -999
