.container
	position: fixed
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	display: flex
	display: -webkit-flex
	justify-content: center
	align-items: center



.card
	width: 90%
	height: 90vh
	background: none
	display: flex
	justify-content: center
	align-items: center
	text-align: center
	-webkit-perspective: 1000

a
	font-size: 3em
	padding: 10px
	text-decoration: none
	color: #ffffff
	text-align: left
	animation-name: flow
	animation-delay: 1s
	animation-fill-mode: forwards
	animation-duration: 3s
	animation-timing-function: ease-in-out

@keyframes flow
0%
	transform: translateX(80px)
	opacity: 0
100%
	transform: translateX(0px)
	opacity: 1
